{% extends ':default:admin.html.twig' %}
{% macro nested_array(array, depth =0) %}
    {% import _self as macros %}
    {% for key, val in array %}
        {{ key }}: {% if val is iterable %}{{ macros.nested_array(val, depth+1) }}{% else %}{{ val }}{% endif %}<br/>
    {% endfor %}
{% endmacro %}
{% block content %}

    {% import _self as macros %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">WC</span>
        </div>
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Header</th>
                    <td>{{ macros.nested_array(entity.header) }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ macros.nested_array(entity.content) }}</td>
                </tr>
                <tr>
                    <th>Createdat</th>
                    <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('wc') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
