<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="panel-title">{{ panelTitle }}</span>
        <span class="badge pull-right">{{ orders|length }}</span>
    </div>
    <div class="table-responsive dashboard">
        <table class="table table-bordered table-hover table-striped {{ panelTitle != 'Backoffice Orders' ? 'table-condensed' : '' }} records_list">
            <tbody>
                {% set highlight = ''%}
                {% for order in orders %}
                    {% if order.state == "post" %}
                        {% if  date(order.updatedAt) < date('-2days') %}
                            {% set highlight = 'highlight' %}
                        {% endif %}
                    {% endif %}
                    <tr class="{{ highlight }}">
                        <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': order.id }) }}">{{ order.number }}</a></td>
                        <td>{{ order.customer.name }}</td>
                        <td class="text-right">
                            {{ (order.total/100)|localizedcurrency('RUB') }}
                        </td>
                        {#                        <td>{{ order.createdAt|localizeddate('short', 'short') }}</td>#}
                        <td>{{ order.createdAt|ago }}</td>
                        <td class="text-right">
                            {#<span class="label
                                  {% if (order.orderPayments|last).state == "paid" %}label-success
                                  {% else %}label-warning
                                  {% endif %}
                                  ">{{ (order.orderPayments|last).state|upper }}</span>#}
                            <span class="label
                                  {% if order.state == "backoffice" %}label-info                                                      
                                  {% elseif order.state == "post" %}label-primary
                                  {% elseif order.state == "document" %}label-warning
                                  {% elseif order.state == "approved" %}label-success
                                  {% elseif order.state == "rejected" %}label-danger
                                  {% else %}label-default
                                  {% endif %}
                                  ">{{ order.state|upper }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>