<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="panel-title">{{ panelTitle }}</span>
        <span class="badge pull-right">{{ orders|length }}</span>
    </div>
    <div class="table-responsive dashboard">
        <table class="table table-bordered table-striped {{ panelTitle != 'Backoffice Orders' ? 'table-condensed' }} records_list">
            <tbody>
                {% for order in orders %}
                    {% set highlight = ''%}
                    {% if order.state == "post" %}
                        {% if  (date(order.postedAt) < date('-2days')) and order.postedAt.timestamp is defined %}
                            {% set highlight = 'highlight' %}
                        {% endif %}
                    {% endif %}
                    {% if order.state == "backoffice" %}
                        {% if  (date(order.createdAt) < date('-2days')) %}
                            {% set highlight = 'highlight' %}
                        {% endif %}
                    {% endif %}
                    <tr class="{{ highlight }}">
                        <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': order.id }) }}">{{ order.number }}</a></td>
                        <td>{{ order.customer.name }}</td>
                        <td class="text-right">{{ (order.total/100)|localizedcurrency('RUB') }}</td>
                        <td>{{ order.createdAt|ago }}</td>
                        <td class="text-right">
                            {% if order.state == "backoffice" %}
                                <span class="label label-{{ statusCSS.css(order.orderPayments|last.state) }}">{{ order.orderPayments|last.state|upper }}</span>
                            {% endif %}
                            <span class="label label-{{ statusCSS.css(order.state) }}">{{ order.state|upper }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>