{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block backLink %}{{ path('reports') }}{% endblock %}
{% block adminPanelTitle %}Accounting Reports{% endblock %}
{% block adminPanelTitleBadge %}{{ reports|length }}{% endblock %}
{% block adminPanelBody %}
    <ul class="list-group">
        {% for report in reports %}
            <li class="list-group-item">
                <a href="{{ path('reports_accounting_show', {month: report.gBMonth, year:report.gBYear}) }} ">{{ report.gBMonth }} {{ report.gBYear }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}