{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block adminPanelTitle %}Reports{% endblock %}
{% block adminPanelBody %}
    <ul class="list-group">
        {#<li class="list-group-item">
            <a href="{{ path('reports_problems') }} ">Problems</a>
        </li>#}
        <li class="list-group-item">
            <a href="{{ path('reports_financial') }} ">Financial</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_accounting') }}">1C Report</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_vendors') }} ">Vendors accounts</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_revenue') }} ">Revenue</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_products') }} ">Products</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('reports_employees') }} ">Employees</a>
        </li>
    </ul>
{% endblock %}