<div class="modal-dialog modal-xl">
    <div class="modal-content">
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        {{ form_errors(form) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="pull-right">
                {% for product in order.orderProducts %}
                    {% if (product.product.urgent) %}
                        <span class="label label-purple">Urgent</span>
                    {% endif %}
                {% endfor %}
                {% if (order.ticketRequired) %}
                    <span class="label label-warning">Ticket Required</span>
                {% endif %}
                &nbsp;<span class="label label-default">{{ order.channel|upper }}</span>
                &nbsp;<span class="label label-{{order.orderState.currentState.bootstrapClass}}">{{ order.stateName|upper }}</span>
                &nbsp;<span class="label label-default"> {{ order.createdAt|localizeddate }}</span>
                <span class="label label-{{order.orderState.state('post').bootstrapClass}}">{{ order.postedAt ? 'Posted '~order.postedAt|localizeddate }}</span>
                <span class="label label-success">{{ order.completedAt ? 'Completed '~order.completedAt |localizeddate }}</span>
            </div>
            <h4 class="modal-title">Order# <a class="btn btn-link" href="{{ path('orders_show', { 'id': order.id }) }}" target="_blank">{{ order.number }}</a></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Order Customer-->
                    {% include 'MeVisaERPBundle:Orders:show/customer.html.twig' %}
                    <!-- Order Customer-->
                </div>
                <div class="col-sm-4">
                    <!-- Order Details -->
                    {% include 'MeVisaERPBundle:Orders:show/details.html.twig' %}
                    <!-- Order Details -->
                </div>
                <div class="col-sm-4">
                    <!-- Order Payments -->
                    {% include 'MeVisaERPBundle:Reports:show/payments.html.twig' %}
                    <!-- Order Payments -->
                </div>
            </div>
            <!-- Order Products -->
            {% include 'MeVisaERPBundle:Reports:form/products.html.twig' %}
            <!-- Order Products -->
            <!-- Order Companions -->
            <!-- Order Companions -->
            <div class="row">
                <div class="col-sm-6">
                    {% include 'MeVisaERPBundle:Reports:show/companions.html.twig' %}
                </div>
                <div class="col-sm-6">
                    <!-- Order Comments -->
                    {% include 'MeVisaERPBundle:Orders:show/comments.html.twig' %}
                    <!-- Order Comments -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class='col-sm-5'>{{ form_row(form.adjustmentTotal) }}</div>
                <div class="col-sm-5">{{ form_row(form.total) }}</div>
                <div class="col-sm-2">{{ form_widget(form.update) }}</div>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
