{% extends ':default:admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css"/>
    <style type="text/css">
        table.dataTable{margin: 0 !important;}
        div.dataTables_wrapper div.dataTables_paginate{text-align: center;}
        .list-group{margin-bottom: 0px;}
    </style>
{% endblock %}
{% block wrapper %}
    <div class="container-fluid">
        <table class="table table-bordered table-condensed records_list" id="datatable">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>People</th>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Order Cost</th>
                    <th>Product Cost</th>
                    <th>Order Price</th>
                    <th>Product Price</th>
                    <th>Subtotal</th>
                    <th>Adjustment</th>
                    <th>Order Total</th>
                    <th>Messages</th>
                </tr>
            </thead>
            <tbody>
                {% for op in orderProducts %}
                    {% set qtyDiff = 0 %}
                    {% set pplDiff = 0 %}
                    {% set qtyDiff = (op.total/op.product.pricing|last.price) - op.quantity %} 
                    {% set pplDiff = (op.total/op.product.pricing|last.price) - op.orderRef.people %} 
                    <tr class="{{ (qtyDiff and pplDiff) ? "bg-warning" }}">                   
                        <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': op.orderRef.id }) }}" target="_blank">{{ op.orderRef.number }}</a></td>
                        <td>{{op.orderRef.createdAt|localizeddate('short', 'none')}}</td>
                        <td class="{{ (pplDiff) ? "bg-danger" }}">{{ op.orderRef.people }}</td>
                        <td class="{{ (qtyDiff) ? "bg-danger" }}">{{ op.quantity }}</td>
                        <td><a class="btn btn-link" href="{{ path('products_show', { 'id': op.product.id }) }}" target="_blank">{{ op.product.name }}</a></td>
                        <td>{{ op.unitCost/100 }}</td>
                        <td>{{ op.product.pricing|last.cost/100 }}</td>
                        <td>{{ op.unitPrice/100 }}</td>
                        <td>{{ op.product.pricing|last.price/100 }}</td>
                        <td>{{ op.total/100 }}</td>
                        <td>{{ op.orderRef.adjustmentTotal/100 }}</td>
                        <td>{{ op.orderRef.total/100 }}</td>
                        <td>
                            <ul class="list-group">
                                {%  for msg in op.messages %}
                                    <li class="list-group-item list-group-item-{{ (msg.type == "ERROR") ? "danger" : (msg.type == "NOTICE") ? "warning" : "info" }}">
                                        {{msg.message}}
                                        <a href="#" class="pull-right text-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="{{ path('reports_products_fix', { 'id': op.orderRef.id }) }}">Fix</button>
                                <button type="button" class="btn btn-primary autofill">Autofill</button>
                                <button type="button" class="btn btn-info clearmsg"><span class="glyphicon glyphicon-repeat"></span> Recheck</button>
                                <button type="button" class="btn btn-danger clearmsg"><span class="glyphicon glyphicon-trash"></span> Messages</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/datatables.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/buttons.flash.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/pdfmake.min.js"></script>
    <script src="/js/vfs_fonts.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $modal = $('#ajax-modal');
            $('[data-toggle="ajax-modal"]').click(function (e) {
                e.preventDefault();
                var url = $(this).data("target");
                if (url.indexOf('#') == 0) {
                    $(url).modal('open');
                } else {
                    $modal.load(url, '', function () {
                        $modal.modal();
                        $('[data-toggle="popover"]').popover();
                    });
                }
            });
            
                //TODO: save table state
            $('#datatable').DataTable({
                "ordering": false,
                dom: "<'row'<'col-sm-8'B><'col-sm-2 text-right'l><'col-sm-2'f>>tip",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

        });
    </script>

{% endblock %}