<!-- BEGIN USER PROFILE -->
<div class="btn-group-img btn-group">
  <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <span>Hi, {{ app.user.username }}</span>
{#    <span class="caret"></span>#}
{#    <img src="/metronic/assets/layouts/layout5/img/avatar1.jpg" alt=""> #}
  </button>
  <ul class="dropdown-menu-v2" role="menu">
  {#  <li>
      <a href="page_user_profile_1.html">
        <i class="icon-user"></i> My Profile
        <span class="badge badge-danger">1</span>
      </a>
    </li>#}
    <li>
      <a href="{{ path('fos_user_change_password') }}">
        <i class="icon-lock"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }} </a>
    </li>
    <li class="divider"> </li>
    <li>
      <a href="{{ path('fos_user_security_logout') }}">
        <i class="icon-key"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a>
    </li>
  </ul>
</div>
<!-- END USER PROFILE -->