{% extends 'base.html.twig' %}
{% block body %}
    {% block head %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                {% block menu%}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('mevisa_admin_default_base') }}">
                            <img src="/images/sm_new_mevisa.png" alt="MeVisa">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('orders') }}">Orders</a></li>
                            <li class="active"><a href="{{ path('customer') }}">Customers<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_currency') }}">Currency</a></li>
                                    <li><a href="{{ path('admin_vendors') }}">Vendors</a></li>
                                    <li><a href="{{ path('admin_products') }}">Products</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Users</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Invoices</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>1 USD = 00.00 RUB</a></li>
                            <li><a href="#">Logged User</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </nav>
    {% endblock %}
    {% block wrapper %}
        <div id="page-wrapper">
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash_notice">
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash_error">
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash_error">
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    </div>
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
