{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">
                {{entity.product.name}} <small> Pricing </small>
            </h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {#                    {{ form(edit_form) }}#}
                    <div class="row">
                        {{ form_start(edit_form) }}
                        <div class="hidden">{{ form_widget(edit_form.product) }}</div>
                        <div class="col-md-2">{{ form_row(edit_form.age) }}</div>
                        <div class="col-md-2">{{ form_row(edit_form.cost) }}</div>
                        <div class="col-md-1"><br/>{{ form_widget(edit_form.costCurrency) }}</div>
                        <div class="col-md-2">{{ form_row(edit_form.price) }}</div>
                        <div class="col-md-1"><br/>{{ form_widget(edit_form.priceCurrency) }}</div>
                        <div class="col-md-2"><br/>{{ form_end(edit_form) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-11">{{ form(delete_form) }}</div>
        <div class="col-md-1"><a class="btn btn-warning" href="{{ path('admin_pricing', { 'product_id': entity.absproduct.id }) }}">Back</a></div>
    </div>
    <!-- /.row -->
{% endblock %}
