<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form form-horizontal">
  <div class="form-body">
    {{ form_widget(form) }}
  </div>
  <div class="form-actions">
    <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary"/>
  </div>
  {% if app.user %}
    <div class="create-account">
      <p>
        <a href="{{ path('dashboard') }}" id="register-btn" class="uppercase">Dashboard</a>
      </p>
    </div>
  {% endif %}
</form>
