<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="panel-title"><span class="label label-{{ statusCSS.css(state) }}">{{ state|replace('_', ' ')|upper }}</span></span>
    <div class="pull-right"><span class="badge">{{ orders|length }}</span></div>
  </div>
  <div class="table-responsive dashboard">
    <table class="table table-bordered table-striped {{ panelTitle != 'Backoffice Orders' ? 'table-condensed' }} records_list">
      <tbody>
        {% for order in orders %}
          {% set highlight = ''%}
          {% set urgent = ''%}
          {% if order.state == "post" %}
            {% if  (date(order.postedAt) < date('-3days')) and order.postedAt.timestamp is defined %}
              {% set highlight = 'highlight' %}
            {% endif %}
          {% endif %}
          {% if order.state == "backoffice" %}
            {% if  (date(order.createdAt) < date('-3days')) %}
              {% set highlight = 'highlight' %}
            {% endif %}
          {% endif %}
          {% for product in order.orderProducts %}
            {% if (product.product.urgent) %}
              {% set urgent='urgent' %}
            {% endif %}
          {% endfor %}
          <tr class="{{ highlight }} {{urgent}}">
            <td class="text-center">
              <a class="btn btn-link" href="{{ path('orders_show', { 'id': order.id }) }}">{{ order.number }}</a>
            </td>
            <td>{{ order.customer.name }}</td>
            <td class="text-right">{{ (order.total/100)|localizedcurrency('RUB') }}</td>
            {% if order.state == "post" %}
              <td data-toggle="tooltip" title="Posted">
                {{ order.postedAt|localizeddate('short', 'short')}}
                <a href="#" data-toggle="popover" title="{{order.number}}" data-content="Created: {{order.createdAt|localizeddate('short', 'short')}}" class="pull-right"><span class="glyphicon glyphicon-info-sign"></span></a>
                {% else %}
              <td data-toggle="tooltip" title="Created">
                {{ order.createdAt|localizeddate('short', 'short') }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>