{% extends 'AppBundle:Admin:adminLayout.html.twig' %}
{% block title %}Orders{% endblock %}
{% block adminPanelClass %} {{(order.ticketRequired)?'panel-warning':'panel-default'}}{% endblock %}
{% block adminPanelTitle %}Orders{% endblock %}
{% block backLink %}
    {% if app.request.get('_route') in ['orders_show', 'orders_new', 'orders'] %}
        {{ path('dashboard') }}
    {% else %}
        {{ path('orders_show', {"id":order.id}) }}
    {% endif %}
{% endblock %}
{% block adminPanelHeadingRight %}
    {% for product in order.orderProducts %}
        {% if (product.product.urgent) %}
            <span class="label label-purple">Urgent</span>
        {% endif %}
    {% endfor %}
    {% if (order.ticketRequired) %}
        <span class="label label-warning">Ticket Required</span>
    {% endif %}
    &nbsp;<span class="label label-default">{{ order.channel|upper }}</span>
    &nbsp;<span class="label label-{{order.orderState.currentState.bootstrapClass}}">{{ order.stateName|upper }}</span>
    &nbsp;<span class="label label-default"> {{ order.createdAt|localizeddate }}</span>
    <span class="label label-{{order.orderState.state('post').bootstrapClass}}">{{ order.postedAt ? 'Posted '~order.postedAt|localizeddate }}</span>
    <span class="label label-success">{{ order.completedAt ? 'Completed '~order.completedAt |localizeddate }}</span>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}