<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                {{ form_label(edit_form.orderProducts.vars.prototype.product) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(edit_form.orderProducts.vars.prototype.quantity) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(edit_form.orderProducts.vars.prototype.unitPrice) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(edit_form.orderProducts.vars.prototype.total) }}
                <a href="#" class="btn btn-default add_product_link pull-right"><span class="glyphicon glyphicon-plus-sign" title="Add another product"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled orderProducts" data-prototype="{{'<div class="row">'
~ '<div class="col-sm-3">' ~ form_widget(edit_form.orderProducts.vars.prototype.product) ~ '</div>'
~ '<div class="col-sm-2">' ~ form_widget(edit_form.orderProducts.vars.prototype.quantity) ~ '</div>'
~ '<div class="col-sm-3">' ~ form_widget(edit_form.orderProducts.vars.prototype.unitPrice) ~ '</div>'
~ '<div class="col-sm-4">' ~ form_widget(edit_form.orderProducts.vars.prototype.total) ~ '</div>'
~ '</div>'}}">
            {% for product in edit_form.orderProducts %}
                <li>
                    <div class="row">
                        <div class="col-sm-3">{{form_widget(product.product)}}</div>
                        <div class="col-sm-2">{{form_widget(product.quantity)}}</div>
                        <div class="col-sm-3">{{form_widget(product.unitPrice)}}</div>
                        <div class="col-sm-4">{{form_widget(product.total)}}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="#" class="btn text-danger remove_product_link pull-right" tabindex="-100"><span class="glyphicon glyphicon-minus-sign" title="Remove this product"></span></a>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">{{ form_row(edit_form.productsTotal) }}</div>
            <div class="col-sm-6 col-sm-offset-2">{{ form_row(edit_form.adjustmentTotal) }}</div>
        </div>
    </div>
</div>