{% extends ':default:admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/chosen.min.css" />
    <style type="text/css">
        .panel .form-group{ margin-bottom: 5px;}
        .panel-body{font-size: 11px;}
        .panel-body label{font-weight: 550}
        .panel .control-label{padding-left: 5px; padding-right: 5px;}
        .orderProducts li{margin-top: 5px;}
        .list-group-item{padding-top: 2px;padding-bottom: 2px}
        .badge{margin-top: 5px;}
    </style>
{% endblock %}
{% block content %}
    {{ form_start(edit_form) }}
    {{ form_row(edit_form._token) }}
    {{ form_errors(edit_form) }}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="panel-title">Order # {{ order.number }}</span>
            <div class="pull-right">
                <span class="label label-default">{{ order.channel|upper }}</span>
                &nbsp;<span class="label label-info">{{ order.stateName|upper }}</span>
                &nbsp;<span class="label label-default"> {{ order.createdAt|date() }}</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Order Customer-->
                    {% include 'MeVisaERPBundle:Orders:edit_order_customer.html.twig' %}
                    <!-- Order Customer-->
                </div>
                <div class="col-sm-6">
                    <!-- Order Details -->
                    {% include 'MeVisaERPBundle:Orders:edit_order_details.html.twig' %}
                    <!-- Order Details -->
                </div>
            </div>
            <!-- Order Products -->
            {% include 'MeVisaERPBundle:Orders:edit_order_products.html.twig' %}
            <!-- Order Products -->
            <!-- Order Companions -->
            {% include 'MeVisaERPBundle:Orders:edit_order_companions.html.twig' %}
            <!-- Order Companions -->
            <!-- Order Payments -->
            {% include 'MeVisaERPBundle:Orders:edit_order_payments.html.twig' %}
            <!-- Order Payments -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Order Documents -->
                    {% include 'MeVisaERPBundle:Orders:edit_order_documents.html.twig' %}
                    <!-- Order Documents -->
                </div>
                <div class="col-sm-6">
                    <!-- Order Comments -->
                    {% include 'MeVisaERPBundle:Orders:edit_order_comments.html.twig' %}
                    <!-- Order Comments -->
                </div>
            </div>
        </div>
        <!-- panel body -->
        <div class="panel-footer">
            <div class="row">
                {#FIXME: return to order show #}
                <div class="col-sm-2"><a class="btn btn-warning" href="{{ path('dashboard') }}">Cancel</a></div>
                <div class="col-sm-4">{{ form_row(edit_form.total) }}</div>
                <div class="col-sm-4">

                    {{ form_row(edit_form.state) }}
                </div>
                <div class="col-sm-2">{{ form_widget(edit_form.update) }}</div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/js/orders.js"></script>
    <script type="text/javascript">
        var productPrices = new Array();
        {% for price in productPrices %}
            productPrices[{{ price.product.id }}] = {{price.price/100}};
        {% endfor %}
    </script>
{% endblock %}