<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Order Details</span>
    </div>
    <table class="table table-condensed table-hover no-border ">
        <tbody>
            <tr><td>{{ form_label(edit_form.people)}}</td><td>{{ form_widget(edit_form.people)}}</td></tr>
            <tr><td>{{ form_label(edit_form.departure)}}</td><td>{{ form_widget(edit_form.departure)}}</td></tr>
            <tr><td>{{ form_label(edit_form.arrival)}}</td><td>{{ form_widget(edit_form.arrival)}}</td></tr>
        </tbody>
    </table>
</div>
