{% extends ':default:admin.html.twig' %}

{% block content %}
    {% include 'AdminAdminBundle:Default:quickActions.html.twig' %}
    <!-- page content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">                    
                    <span class="panel-title">Orders</span>
                    <span class="badge">{{ entities|length }} </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped records_list">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>State</th>
                                <th>Customer</th>
                                <th>Channel</th>
                                <th>Subtotal</th>
                                <th>Adjustment</th>
                                <th>Total</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': entity.id }) }}">{{ entity.number }}</a></td>
                                    <td class="text-right">
                                        <span class="label 
                                              {% if entity.state == "backoffice" %}label-info                                                      
                                              {% elseif entity.state == "post" %}label-primary
                                              {% elseif entity.state == "document" %}label-warning
                                              {% else %}label-default
                                              {% endif %}
                                              ">
                                            {{ entity.state|upper }}
                                        </span>&nbsp;
                                        <span class="label 
                                              {% if entity.orderPayments|last.state == "paid" %}label-success
                                              {% else %}label-warning
                                              {% endif %}
                                              ">
                                            {{ entity.orderPayments|last.state|upper }}
                                        </span>
                                    </td>
                                    <td>{{ entity.customer.name }}</td>
                                    <td>{{ entity.channel }}</td>
                                    <td class="text-right">{{ (entity.productsTotal/100)|localizedcurrency('RUB') }}</td>
                                    <td class="text-right">{{ (entity.adjustmentTotal/100)|localizedcurrency('RUB') }}</td>
                                    <td class="text-right">{{ (entity.total/100)|localizedcurrency('RUB') }}</td>
                                    <td>{% if entity.createdAt %}{{ entity.createdAt|localizeddate }}{% endif %}</td>
                                    <td><a class="btn btn-primary" href="{{ path('orders_show', { 'id': entity.id }) }}">Open</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
