{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            {#            <h3 class="page-header">#}
            <h3 class="page-header">
                Orders <small> {{ entities|length }} </small>
                <a class="btn btn-primary pull-right" href="{{ path('orders_new') }}">Add Order</a>
            </h3>

            <!-- breadcrumb -->
            {#<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>#}
        </div>
    </div>
    <!-- /.row -->
    <!-- page content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped records_list">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>State</th>
                                <th>Customer</th>
                                <th>Channel</th>
                                <th>Subtotal</th>
                                <th>Adjustment</th>
                                <th>Total</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': entity.id }) }}">{{ entity.number }}</a></td>
                                    <td>
                                        <span class="label 
                                              {% if entity.state == "backoffice" %}label-info                                                      
                                              {% elseif entity.state == "post" %}label-primary
                                              {% elseif entity.state == "document" %}label-warning
                                              {% else %}label-default
                                              {% endif %}
                                              ">
                                            {{ entity.state|upper }}
                                        </span>
                                    </td>
                                    <td>{{ entity.customer.name }}</td>
                                    <td>{{ entity.channel }}</td>
                                    <td class="text-right"><span class="pull-left">RUB&nbsp;</span>{{ entity.productsTotal/100|number_format(2, '.', ',') }}</td>
                                    <td class="text-right"><span class="pull-left">RUB&nbsp;</span>{{ entity.adjustmentTotal/100|number_format(2, '.', ',') }}</td>
                                    <td class="text-right"><span class="pull-left">RUB&nbsp;</span>{{ entity.total/100|number_format(2, '.', ',') }}</td>
                                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('M-d H:i') }}{% endif %}</td>
                                    <td><a class="btn btn-primary" href="{{ path('orders_show', { 'id': entity.id }) }}">Open</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
