<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>MeVisa Invoice</title>
        <link rel="stylesheet" type="text/css" href="http://visallc.nichost.ru/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://visallc.nichost.ru/css/custom.css" />
        <style type="text/css">
            body{font-size: 10pt;font-family: serif;}
            table, tr, td, th, tbody, thead, tfoot {page-break-inside: avoid !important;}
            h1{font-size: 15pt;}
            .page {overflow: hidden;page-break-after: always;}
            .do-not-print{display: none;}
            .border-right{border-right:  1px solid #ddd;}
            .numbered-list OL{ counter-reset: item;}
            .numbered-list LI { display: block; }
            .numbered-list LI:before { content: counters(item, ".") " "; counter-increment: item; }
            .numbered-list OL{padding-left: 0px;}
            .numbered-list OL OL{padding-left: 20px;}
            .agreement, .sign{font-size: x-small;}
            .agreement{text-align: justify;}
            .sign{text-align: left;}
            .tb{border: 1px solid #ddd;}
            .lb{border-left: 1px solid #ddd;}
            .srb{width: 100%;max-width: 100%;margin-bottom: 0px;}
            .srb td{padding-left:  8px;line-height: 1.42857143;vertical-align: top;width: 50%;word-wrap: normal;}
            .srb td:first-child{border-right: 1px solid #ddd;}
        </style>    
    </head>
    <body>
        <div class="page invoice">
            <div class="row page-header">
                <div class="col-xs-12">
                    <table style="width: 100%;">
                        <tr>
                            <th>ООО "ВИЗА"</th>
                            <td class="text-right"><img src="http://visallc.nichost.ru/images/sm_new_mevisa.png" alt="MeVisa"/></td>
                        </tr>
                    </table>
                    Адрес:<small> Москва ул. Маросейка 7/8 офис 206 ком.3, тел.+7(499)7145474,+7(812)7152061,+7(495)9736558</small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Счет № {{ invoice.id }}  от {{ "now" | format_date(null, 'ru', 'Europe/Moscow', constant('IntlDateFormatter::LONG')) }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <table class="table tb">
                        <tbody>
                            <tr>
                                <th style="width: 25%;">ИНН:</th>
                                <td style="width: 25%;">7701375794</td>
                                <th class="lb">КПП:</th>
                                <td>770101001</td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <table class="table tb">
                        <thead>
                            <tr>
                                <th style="width: 50%;">Получатель</th>
                                <th class="lb">Банк получателя</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ООО "ВИЗА"<br/>
                                    Счет №: 40702810738000007699
                                </td>
                                <td class="lb">
                                    ОАО "Сбербанк России" г.Москва<br/>
                                    БИК: 044525225<br/>
                                    Счет №: 30101810400000000225
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"><label>Заказчик:</label></div>
                <div class="col-xs-10">{{order.customer.name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><label>Плательщик:</label></div>
                <div class="col-xs-10">{{order.customer.name}}</div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Наименование товара</th>
                        <th>Коли-чество</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, product in order.orderProducts %}
                        <tr>
                            {# FIXME: row number #}
                            <td>{{ key + 1 }}</td>
                            <td>{{ product.product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ (product.unitPrice/100)|localizedcurrency('RUB') }}</td>
                            <td>{{ (product.total/100)|localizedcurrency('RUB') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" class="text-right">Всего к оплате</th>
                        <th>{{ (order.total/100)|localizedcurrency('RUB') }}</th>
                    </tr>
                </tfoot>
            </table>
            {# TODO: load values#}
            <div class="row" style="position: relative;bottom: 5px;">
                <div class="col-xs-12">
                    <table class="srb">
                        <tr>
                            <td>
                                <p>Руководитель предприятия</p>
                                <p>( Вазири Тарек Махмуд Мохамед )</p>
                                <br/>
                                <p>_____________________________</p>
                            </td>
                            <td>
                                <p>Главный бухгалтер</p>
                                <p>( Вазири Тарек Махмуд Мохамед )</p>
                                <br/>
                                <p>_____________________________</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="page agreement">
            <div class="row page-header" style="margin-bottom: 10px;">
                <div class="col-xs-12">
                    <table style="width: 100%;">
                        <tr>
                            <td>г.  Москва</td>
                            <td class="text-center"><h1 class="text-center" style="margin: 0px;"><small>ДОГОВОР ОБ ОКАЗАНИИ ВИЗОВЫХ УСЛУГ №7945</small></h1></td>
                            <td class="text-right">{{ "now" | format_date(null, 'ru', 'Europe/Moscow', constant('IntlDateFormatter::LONG')) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <p style="margin: 0px;">Настоящий Договор на оказание услуг составлен между <b>ООО "ВИЗА"</b>, именуемым в дальнейшем <b>«Исполнитель»</b>, в лице Генерального директора <b>Вазири Тарек Махмуд Мохамед</b>, действующего на основании Устава, с одной стороны, и <b>Оловянникова Мария Александровна</b>, именуемый(ая) в дальнейшем <b>«Заказчик»</b>, с другой стороны, именуемые в дальнейшем стороны.</p>
            <div class="row">
                <div class="col-xs-12">
                    <div class="numbered-list">
                        <ol type="1" style="margin-bottom: 0px;">
                            <li><b>Предмет договора</b>
                                <ol>
                                    <li><b>Заказчик</b> поручает <b>Исполнителю</b> оказать содействие в оформлении выездных документов (визы) в следующую страну: Срочная <b>Виза в Сингапур</b>.</li>
                                    <li><b>Исполнитель</b> осуществляет содействие в оформлении документов от имени и по поручению <b>Заказчика</b>, на основании представленных <b>Заказчиком</b> документов и сведений.</li>
                                </ol>
                            </li>
                            <li><b>Обязанности сторон</b>
                                <ol>
                                    <li><b>Исполнитель</b> обязуется организовать своевременную сдачу соответствующих документов.</li>
                                    <li><b>Исполнитель</b> обязуется своевременно информировать <b>Заказчика</b> о задержке, отказе в выдаче выездных документов, изменениях условий подачи документов, возникновение чрезвычайных обстоятельств, препятствующих оказанию  отдельных услуг.</li>
                                    <li><b>Заказчик</b> обязуется предоставить <b>Исполнителю</b> достоверные документы и сведения, необходимые для оформления выездных документов.</li>
                                    <li><b>Заказчик</b> обязуется своевременно и в полном объеме производить оплату оказанных услуг.</li>
                                </ol>
                            </li>
                            <li><b>Оплата услуг</b>
                                <ol>
                                    <li>3Общая сумма оплаты услуг <b>Исполнителя</b>, включая консульский сбор, составляет  <b>{{ (order.total/100) }} рублей</b>.</li>
                                    <li>Оплата услуг <b>Исполнителя</b> и консульских сборов по настоящему Договору производится в рублях.</li>
                                    <li>В случае оплаты по безналичному расчету, оплата производится на основании выставленного счета в течение <b>3 (Трех)</b> банковских дней; фактом платежа является поступление денег на расчетный счет <b>Исполнителя</b>.</li>
                                    <li><b>Исполнитель</b> начинает выполнение заказа при оплате <b>Заказчиком 100%</b> стоимости заказа.</li>
                                </ol>
                            </li>
                            <li><b>Ответственность сторон</b>
                                <ol>
                                    <li>Ответственность <b>Заказчика</b>:
                                        <ol>
                                            <li><b>Заказчик</b> несет полную юридическую и материальную ответственность за достоверность и качество выездных документов.</li>
                                            <li><b>Заказчик</b> несет ответственность перед <b>Исполнителем</b> за нанесенный им материальный ущерб, возникший в результате невыполнения или ненадлежащего выполнения условий настоящего Договора, за исключением случаев предусмотренных настоящим Договором.</li>
                                        </ol>
                                    </li>
                                    <li>Ответственность <b>Исполнителя</b>:
                                        <ol>
                                            <li><b>Исполнитель</b> не несет ответственности перед <b>Заказчиком</b> в случае не предоставления или несвоевременного предоставления необходимых документов, а также вследствие других нарушений настоящего Договора, за невозможностью осуществления заказанных услуг, в силу действия российской и зарубежной таможенной службы и пограничного контроля, в случае отказа посольств зарубежных стран в выдаче выездных виз, либо иных действий официальных органов или властей России или зарубежных стран, делающих невозможным осуществление <b>Исполнителем</b> заказных услуг.</li>
                                            <li><b>Исполнитель</b> не несет ответственности, если решением властей или ответственных лиц <b>Заказчику</b> отказано в возможности въезда или выезда из страны.</li>
                                            <li><b>Исполнитель</b> не несет финансовую, равно, как и другую ответственность перед <b>Заказчиком</b>, в случае отказа посольств зарубежных стран в выдаче выездных документов посольствами зарубежных стран, изменения требований по оформлению выездных документов, приглашению <b>Заказчика</b> на личное присутствие в посольстве, а также изменения размера консульского сбора, возникших по инициативе консульской службы иностранного государства. </li>
                                            <li><b>Исполнитель</b> не несет ответственности как за преждевременно купленные <b>Заказчиком</b> проездные билеты, так и за мероприятия (переговоры, подписание контрактов, заранее оплаченное проживание в отелях и т.д.)</li>
                                        </ol>
                                    </li>
                                    <li><b>Исполнитель</b> и <b>Заказчик</b> освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если такое неисполнение является следствием действия (форс-мажор): землетрясения, наводнения, пожара, тайфуна, эпидемий, забастовок, ограничение перевозок, запрета торговых операций с отдельными странами и других обстоятельств, не зависящих от воли сторон. Указанные события должны носить чрезвычайный, непредвиденный и непредотвратимый характер, возникнувшие после заключения настоящего Договора. При наступлении обстоятельств непреодолимой силы <b>Стороны</b> должны без промедления известить о них в письменной форме другую сторону. Срок выполнения <b>Сторонами</b> обязательств по данному Договору отодвигается соразмерно времени, в течение которого действуют такие обстоятельства.</li>
                                </ol>
                            </li>
                            <li><b>Разрешение споров</b>
                                <ol>
                                    <li>В случае невозможности разрешения споров путем переговоров, <b>Заказчик</b> должен обратиться с письменной претензией в <b>ООО "ВИЗА"</b> в течение <b>10 (Десяти)</b> дней после получения выездных документов. Претензия <b>Заказчика</b> должна быть рассмотрена в течение <b>30 (Тридцати)</b> рабочих дней. При невозможности внесудебного урегулирования споров они подлежат передаче в суд.</li>
                                </ol>
                            </li>
                            <li><b>Дополнительные условия</b>
                                <ol>
                                    <li>Договор вступает в силу с момента подписания его обеими <b>Сторонами</b> и действует до момента получения <b>Заказчиком</b> выездных документов. Все изменения и дополнения к Договору действительны только в письменном виде.</li>
                                    <li>Если в процессе оформления документов в зарубежном консульстве или другом Российском или официально зарубежном органе возникает дополнительное препятствие по оформлению документов, для решения которого необходимо предоставление <b>Заказчиком</b> дополнительной информации или документов, что <b>Заказчик</b> сделать не в состоянии, <b>Исполнитель</b> вправе в одностороннем порядке расторгнуть настоящий Договор и тогда неоформленные документы будут приравнены к документам, в оформлении которых было отказано, либо с согласия <b>Заказчика</b> внести  в Договор соответствующие изменения.</li>
                                    <li>Настоящий Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу.</li>
                                    <li>В случае отказа зарубежного консульского учреждения в выдаче визы <b>Заказчику Исполнитель</b> не возвращает оплаченную сумму включая консульский сбор.</li>
                                </ol>
                            </li>
                            <li><b>Подписи сторон:</b>
                                {% include 'MeVisaERPBundle:Orders:invoiceSignature.html.twig' %}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="page agreement2">
            <div class="row page-header" style="margin-bottom: 10px;">
                <div class="col-xs-12">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:10%;"></td>
                            <td class="text-center"><h1 class="text-center" style="margin: 0px;"><small>Штрафы, налагаемые Иммиграционными властями:</small></h1></td>
                            <td class="text-right">{{ "now" | format_date(null, 'ru', 'Europe/Moscow', constant('IntlDateFormatter::LONG')) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Денежное взыскание в размере 1810 долларов США (6600 дирхем ОАЭ) взимается, если Заказчик не покинет страну до истечения срока действия визы.Если Заказчик выехал из страны в положенные сроки, но по какой- либо причине оказался не отмеченным в государственной системе контроля за миграцией населения, Заказчик обязуется предоставить необходимые данные о его выезде (дата вылета и номер рейса, сканированные страницы паспорта клиента с печатью о выезде) в течение недели с момента окончания действующей визы. Кроме этого взыскания в размере 1810 долларов США (6600 дирхам ОАЭ), на любого Заказчика налагается штраф в размере 55 долларов США (200 дирхам ОАЭ) за нахождения в стране после истечения срока действия визы за первые сутки и по 28 долларов США (100 дирхам ОАЭ) за каждый последующие.</p>
                </div>
            </div>
            {% include 'MeVisaERPBundle:Orders:invoiceSignature.html.twig' %}
        </div>
    </body>
</html>