{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3"><span class="panel-title">New Order</span></div>
                        <div class="col-md-3">{{ form_widget(form.channel) }}</div>
                        <div class="col-md-3">{{ form_widget(form.state) }}</div>
                        <div class="col-md-2">{{ order.createdAt|date() }}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- Customer -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12"><span class="panel-title">Customer</span></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.name) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.nationality) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.email) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.passportNumber) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.phone) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.customer.vars.prototype.passportExpiry) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Order details -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10"><span class="panel-title">Order details</span></div>
                                        <div class="col-md-2"><a href="#" class="btn btn-success">Add Product</a></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped records_list">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>PAX</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ form_widget(form.products.vars.prototype.product) }}</td>
{#                                                    <td>{{ form_widget(form.products.vars.prototype.pax) }}</td>#}
                                                    <td>{{ form_widget(form.products.vars.prototype.quantity) }}</td>
                                                    <td>{{ form_widget(form.products.vars.prototype.unitPrice) }}</td>
                                                    <td>{{ form_widget(form.products.vars.prototype.total) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-3">{{ form_row(form.productsTotal) }}</div>
                                        <div class="col-md-5"></div>
                                        <div class="col-md-4">{{ form_row(form.adjustmentTotal) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Companions -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12"><span class="panel-title">Companions</span></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    Body
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Payment details -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12"><span class="panel-title">Payment details</span></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_widget(form.payments.vars.prototype.method) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            {{ form_row(form.payments.vars.prototype.amount) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.payments.vars.prototype.state) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            {{ form_row(form.payments.vars.prototype.detail) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comments -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-2"><span class="panel-title">Notes</span></div>
                                        <div class="col-md-8"></div>
                                        <div class="col-md-2">{{ form_widget(form.comments.vars.prototype.author) }}</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.comments.vars.prototype.comment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comments -->
                </div>
                <!-- panel body -->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.total) }}</div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1"><a class="btn btn-warning" href="{{ path('orders') }}">Back</a></div>
</div>
<!-- /.row -->
{% endblock %}
