<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4">
                {{ form_label(form.orderProducts.vars.prototype.product) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(form.orderProducts.vars.prototype.quantity) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(form.orderProducts.vars.prototype.unitPrice) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(form.orderProducts.vars.prototype.total) }}
                <a href="#" class="btn btn-default add_product_link pull-right"><span class="glyphicon glyphicon-plus-sign" title="Add another product"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled orderProducts" data-prototype="{{'<div class="row">'
 ~ '<div class="col-sm-4">' ~ form_widget(form.orderProducts.vars.prototype.product) ~ '</div>'
 ~ '<div class="col-sm-2">' ~ form_widget(form.orderProducts.vars.prototype.quantity) ~ '</div>'
 ~ '<div class="col-sm-3">' ~ form_widget(form.orderProducts.vars.prototype.unitPrice) ~ '</div>'
 ~ '<div class="col-sm-3">' ~ form_widget(form.orderProducts.vars.prototype.total) ~ '</div>'
 ~ '</div>'}}">
        </ul>
        <a href="#" class="btn text-danger remove_product_link pull-right" tabindex="-100"><span class="glyphicon glyphicon-minus-sign" title="Remove this product"></span></a>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">{{ form_row(form.adjustmentTotal) }}</div>
            <div class="col-sm-4 col-sm-offset-2">{{ form_row(form.productsTotal) }}</div>
        </div>
    </div>
</div>