<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-sm-3">
                {{ form_label(form.orderProducts.vars.prototype.product) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(form.orderProducts.vars.prototype.quantity) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(form.orderProducts.vars.prototype.unitPrice) }}
            </div>
            <div class="col-sm-4">
                {{ form_label(form.orderProducts.vars.prototype.total) }}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled orderProducts" data-prototype="{{'<div class="row">'
 ~ '<div class="col-sm-3">' ~ form_widget(form.orderProducts.vars.prototype.product) ~ '</div>'
 ~ '<div class="col-sm-2">' ~ form_widget(form.orderProducts.vars.prototype.quantity) ~ '</div>'
 ~ '<div class="col-sm-3">' ~ form_widget(form.orderProducts.vars.prototype.unitPrice) ~ '</div>'
 ~ '<div class="col-sm-4">' ~ form_widget(form.orderProducts.vars.prototype.total) ~ '</div>'
 ~ '</div>'}}">
        </ul> 
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">
                {# <span class="label label-primary" style="font-size: 14px;">RUB Subtotal</span>#}
                {{ form_row(form.productsTotal) }}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">{{ form_row(form.adjustmentTotal) }}</div>
        </div>
    </div>
</div>