<div class='panel panel-default'>
    <div class="panel-heading">Payee Invoice Signature Details</div>
    <table class="table table-condensed invoice">
        {% set send = false %}
        {% set invoicePath = '' %}
        {% for invoice in order.invoices %}
            {% set send = false %}
            <tr class="{{ loop.last ? 'bg-success' : 'text-muted' }}">
                <td>Invoice #:{{ invoice.id }}<br/>{{ invoice.createdat|localizeddate('short') }}</td>
                <td>{{ invoice.customerSignature|nl2br }}</td>
            </tr>
            {% if invoice.createdat %}
                {% set send = true %}
                {% set invoicePath = '/invoices/mevisa-invoice-'~ order.number ~ '-' ~ invoice.id ~ '.pdf'%}
            {% endif %}
        {% endfor %}
    </table>
    <div class="panel-footer text-right">
        {% if send %}
            <a class='btn btn-default' href="{{invoicePath}}" target="_blank">Open</a>
            <a class='btn btn-default'><span class="glyphicon glyphicon-send"></span></a>
            {% else %}
            <a class='btn btn-default' href="{{ path('order_generate_pdf', {'id': order.id}) }}">Generate</a>
            <a class='btn btn-default'>Preview</a>
        {% endif %}
    </div>
</div>