{{ form_start(form) }}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <span class="panel-title">Companions</span>
        <a href="#" class="btn btn-xs text-primary addCompanion pull-right" id="add-companion"><span class="glyphicon glyphicon-plus-sign"></span> Add another companion</a>
    </div>
    <table class="table table-condensed table-striped table-hover records_list">
        <thead>
            <tr>
                <th style="width: 25%;">Name</th>
                <th style="width: 25%;">Nationality</th>
                <th style="width: 25%;">Passport #</th>
                <th style="width: 20%;">Passport Exp</th>
            </tr>
        </thead>
        <tbody class="companions" data-prototype="{{ 
'<td>' ~ form_widget(form.orderCompanions.vars.prototype.name) ~ '</td>' 
~ '<td>' ~ form_widget(form.orderCompanions.vars.prototype.nationality) ~ '</td>'
~ '<td>' ~ form_widget(form.orderCompanions.vars.prototype.passportNumber) ~ '</td>'
~ '<td>' 
~ form_widget(form.orderCompanions.vars.prototype.passportExpiry, {'attr': { 'class': 'form-group-sm pull-left' } }) 
~ '<a href="#" class="btn btn-xs removeCompanion text-danger pull-right" tabindex="-100" style="padding-left:0px;padding-right:0px;"><span class="glyphicon glyphicon-trash"></span></a>'
~ '</td>'
               }}">
            {# TODO: Expiry date initial this month #}
            {% for companion in form.orderCompanions %}
                <tr>
                    <td>{{ form_widget(companion.name) }}</td>
                    <td>{{form_widget(companion.nationality) }}</td>
                    <td>{{form_widget(companion.passportNumber)}}</td>
                    <td>
                        {{form_widget(companion.passportExpiry.day, {'attr': { 'style': 'display:none' } }) }}
                        {{form_widget(companion.passportExpiry, {'attr': { 'class': 'form-group-sm pull-left' } }) }}
                        <a href="#" class="btn btn-xs removeCompanion text-danger pull-right" tabindex="-100" style="padding-left:0px;padding-right:0px;"><span class="glyphicon glyphicon-trash"></span></a>                        
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="panel-footer">
        {{ form_row(form.update) }}
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}