{% extends ':default:admin.html.twig' %}

{% block title %}Order # {{ order.number }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                    {% include 'MeVisaERPBundle:Orders:order_panel_heading.html.twig' %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            {% include 'MeVisaERPBundle:Orders:order_customer.html.twig' %}
                        </div>
                        <div class="col-sm-4">
                            {% include 'MeVisaERPBundle:Orders:order_details.html.twig' %}
                        </div>
                        <div class="col-sm-4">
                            {% include 'MeVisaERPBundle:Orders:order_totals.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_products.html.twig' %}
                        </div>
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_payments.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_companions.html.twig' %}
                        </div>
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_documents.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_invoices.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:comments_form.html.twig' %}
                        </div>
                        <div class="col-sm-6">
                            {% include 'MeVisaERPBundle:Orders:order_logs.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-2">
                            {% if order.invoices is not empty %}
                                <a class="btn btn-primary" href="/invoices/mevisa-invoice-{{ order.number }}-{{ (order.invoices|last).id}}.pdf" target="_blank">Invoice</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar pull-right" role="toolbar">
                                {% if order.updatedAt or "POS" == order.channel %}
                                    {{ form_start(status_form) }}
                                    {% for btn in status_form %}
                                        {{ form_widget(btn) }}
                                    {% endfor %}
                                    {{ form_end(status_form) }}
                                {% else %}
                                    <a class="btn btn-default" href="{{ path('orders_edit', { "id" : order.id }) }}">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            {% if is_granted('ROLE_SUPER_ADMIN') and (order.updatedAt or "POS" == order.channel) %}
                                <a class="btn btn-default pull-right" href="{{ path('orders_edit', { "id" : order.id }) }}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
