{% extends ':default:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(status_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Order</span>
                    <div class="pull-right">
                        &nbsp;<span class="label label-default">{{ order.channel|upper }}</span>
                        &nbsp;<span class="label label-{{order.orderState.currentState.bootstrapClass}}">{{ order.stateName|upper }}</span>
                        &nbsp;<span class="label label-default"> {{ order.createdAt|date() }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <ul class="list-group">
                                    <li class="list-group-item"><label class="col-sm-2">Name</label> {{order.customer.name}}</li>
                                    <li class="list-group-item"><label class="col-sm-2">Email</label> {{order.customer.email}}</li>
                                    <li class="list-group-item"><label class="col-sm-2">Phone</label> {{order.customer.phone}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group" style="text-align: right;"> 
                                <li class="list-group-item"><label class="col-sm-3">Order#</label>{{ order.number }}</li>
                                <li class="list-group-item"><label class="col-sm-3">Adjustment</label>RUB {{ (order.adjustmentTotal/100)|number_format }}</li>
                                <li class="list-group-item"><label class="col-sm-3">Total</label>RUB {{ (order.total/100)|number_format }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Products</span>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped records_list">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Qty.</th>
                                                <th>Unit Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for product in order.orderProducts %}
                                                <tr>
                                                    <td>{{ product.product.name }}</td>
                                                    <td>{{ product.quantity }}</td>
                                                    <td>{{ (product.unitPrice/100)|number_format }}</td>
                                                    <td>{{ (product.total/100)|number_format }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Payments</span>
                                    <div class="pull-right">
                                        {# FIXME: actually figure out if it's paid don't check last#}
                                        {% if (order.orderPayments|length) %}
                                            {% if(order.orderPayments|last.state=="not_paid") %}
                                                <span class="label label-danger">NOT PAID</span>
                                            {% elseif(order.orderPayments|last.state=="paid") %}
                                                <span class="label label-success">PAID</span>    
                                            {% endif %}
                                        {% else %}
                                            <span class="label label-danger">NOT PAID</span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if (order.orderPayments|length) %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped records_list">
                                            <thead>
                                                <tr>
                                                    <th>Method</th>
                                                    <th>Amount</th>
                                                    <th>State</th>
                                                    <th>Detail</th>
                                                    <th>Created at</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for payment in order.orderPayments%}
                                                    <tr>
                                                        <td>{{ payment.method }}</td>
                                                        <td>RUB {{ (payment.amount/100)|number_format }}</td>
                                                        <td>
                                                            {% if(payment.state=="not_paid") %}
                                                                <span class="label label-danger">NOT PAID</span>
                                                            {% elseif(payment.state=="paid") %}
                                                                <span class="label label-success">PAID</span>    
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ payment.detail }}</td>
                                                        <td>{{ payment.createdAt|date() }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Companions</span>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped records_list">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>PAX</th>
                                                <th>Nationality</th>
                                                <th>Passport Number</th>
                                                <th>Passport Expiry</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for companion in order.orderCompanions %}
                                                <tr>
                                                    <td>{{companion.name}}</td>
                                                    <td>{{companion.pax}}</td>
                                                    <td>{{companion.nationality}}</td>
                                                    <td>{{companion.passportNumber}}</td>
                                                    <td>{{companion.passportExpiry|date()}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Documents</span>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped records_list">
                                        <tbody>
                                            {%for document in order.orderDocuments%}
                                                <tr>
                                                    <td><a href="/uploads/{{ document.name }}" target="_blank">{{ document.name }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Notes</span>
                                </div>
                                <div class="panel-body">
                                    {%for comment in order.orderComments%}
                                        {{ comment.author }}
                                        {{ product.comment }}
                                        {{ product.createdAt }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-default" href="{{ path('orders') }}">Cancel</a>
                            <a class="btn btn-primary" href="{{ path('order_show_invoice', { 'id': order.id }) }}">Invoice</a>
                            <div class="btn-toolbar pull-right" role="toolbar">
                                {{ form_start(status_form) }}
                                {% for btn in status_form %}
                                    {{ form_widget(btn) }}
                                {% endfor %}
                                {{ form_end(status_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}