{# app/Resources/FOSUserBundle/views/Security/login.html.twig #}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  {% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
  {% endif %}
  <!-- BEGIN LOGIN FORM -->
  <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h3 class="form-title font-green">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h3>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
      <span> Enter any username and password. </span>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" name="_username" id="username" value="{{ last_username }}" required="required"/> 
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password" required="required" /> 
    </div>
    <div class="form-actions">
      <label class="rememberme check mt-checkbox mt-checkbox-outline" for="remember_me">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        <span></span>
      </label>
      <button type="submit" class="btn green uppercase pull-right" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
      {#      <a href="{{ path('fos_user_resetting_request') }}" id="forget-password" class="forget-password">{{ 'security.login.forgot_password'|trans({}, 'FOSUserBundle') }}</a>#}
    </div>
    {% if app.user %}
      <div class="create-account">
        <p>
          {{ 'layout.logged_in_as'|trans({'%username%':app.user.username}, 'FOSUserBundle') }}<br/>
          <a href="{{ path('dashboard') }}" id="register-btn" class="uppercase">Dashboard</a>
        </p>
      </div>
    {% endif %}
  </form>
  <!-- END LOGIN FORM -->
{% endblock fos_user_content %}
