{% extends '::base.html.twig' %}

{% block body -%}
    <h1>OrderCompanions</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Passportnumber</th>
                <td>{{ entity.passportNumber }}</td>
            </tr>
            <tr>
                <th>Passportexpiry</th>
                <td>{{ entity.passportExpiry }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ordercompanions') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ordercompanions_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
