{# app/Resources/FOSUserBundle/views/layout.html.twig #}
{% extends ':metronic:base.html.twig' %}

{% block title %}Wazeery Group Authentication{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <link href="/metronic/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="/metronic/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
  <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="index.html">
      <img src="/images/visa_logo.png?v=1" alt="Wazeery Group" />
    </a>
  </div>
  <!-- END LOGO -->

  <!-- BEGIN LOGIN -->
  <div class="content">
    {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
          <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% block fos_user_content %}
    {% endblock %}
    {#<div class="form-actions">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
      {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
      {% endif %}
    </div>#}
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
      <h3 class="font-green">Forget Password ?</h3>
      <p> Enter your e-mail address below to reset your password. </p>
      <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
      <div class="form-actions">
        <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  </div>
{% endblock %}



{% block footer %}
  <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <script src="/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
  <script src="/metronic/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="/metronic/assets/pages/scripts/login.min.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}