{% extends 'AppBundle:Default:adminLayout.html.twig' %}
{% block backLink %}{{ path('products') }}{% endblock %}
{% block adminPanelFormStart %}
  {{ form_start(product_form) }}
  {{ form_errors(product_form) }}
  {{ form_row(product_form._token) }}
{% endblock %}
{% block adminPanelTitle %}Product{% endblock %}
{% block adminPanelTitleSmall %}{{product.name}}{% endblock %}
{% block adminPanelBody %}
  <table class="table table-condensed table-bordered">
    <tr>
      <td>
        <div class="row">
          <div class="col-sm-10">
            {{ form_row(product_form.country) }}
          </div>
          <div class="col-sm-10">
            {{ form_row(product_form.name) }}
          </div>
          <div class="col-sm-2">
            {{ form_row(product_form.urgent) }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            {{ form_row(product_form.vendor) }}
          </div>
        </div>
      </td>
      <td rowspan="2">
        <table class="table table-condensed">
          <thead>
            <tr><th>{{ form_row(product_form.enabled) }}</th></tr>
            <tr><th>{{ form_row(product_form.wcCalc) }}</th></tr>
            <tr><th>{{ form_label(product_form.requiredDocuments) }}</th></tr>
          </thead>
          <tbody><tr><td>{{ form_widget(product_form.requiredDocuments) }}</td></tr></tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div class="pricing" data-index="{{product.pricing|length}}" data-prototype="{{
form_row(product_form.pricing.vars.prototype.cost, {'value' : (product.pricing|last)?product.pricing|last.cost/100} ) 
~ form_row(product_form.pricing.vars.prototype.price, {'value' : (product.pricing|last)?product.pricing|last.price/100} )}}"></div>
      </td>
    </tr>
  </table>
{% endblock %}
{% block adminPanelFooter %}
  <div class="panel-footer">
    <div class="clearfix">{{ form_widget(product_form.submit) }}</div>
  </div>
{% endblock %}
{% block adminPanelFormEnd %}{{ form_end(product_form, {"render_rest": false}) }}{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready(function () {
      addPrototypeForm('div.pricing', '<div></div>');
    });
  </script>
{% endblock %}

