{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block adminPanelTitle %}Products{% endblock %}
{% block adminPanelTitleBadge %}{{ products|length }}{% endblock %}
{% block adminPanelHeadingRight %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('products_new')}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    {% endblock %}
    {% block adminPanelBody %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped records_list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Cost</th>
                        {% endif %}
                    <th>Required Documents</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}
                            <span class="pull-right label label-{{ statusCSS.css((product.enabled)? "enabled": "disabled") }}">{{ (product.enabled)? "Enabled": "Disabled" }}</span>
                        </td>
                        <td class="text-right">{{ (product.pricing|last)?(product.pricing|last.price/100)|localizedcurrency('RUB') }}</td>
                        {% if is_granted('ROLE_ACCOUNTANT') %}
                            <td class="text-right">{{ (product.pricing|last)?(product.pricing|last.cost/100)|localizedcurrency('RUB') }}</td>
                        {% endif %}
                        <td> 
                            {% for req in product.requiredDocuments %}
                                {% filter upper %}{{ req }}{% endfilter %} ;
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('products_show', { 'id': product.id }) }}">Show</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="btn btn-primary btn-sm" href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
                            {% endif %}
                            <a class="btn btn-default btn-sm" href="{{ path('products_show', { 'id': product.id }) }}">Orders</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}