{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- page content -->
    <div class="panel panel-info">
        <div class="panel-heading ">
            <div class="clearfix">
                <span class="h2"> Products <small> {{ entities|length }} </small></span>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-primary btn-sm pull-right" href="{{ path('admin_products_new') }}">Add Product</a>
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped records_list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required Documents</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td> 
                                {% for req in entity.requiredDocuments %}
                                    {% filter upper %}{{ req }}{% endfilter %} ;
                                {% endfor %}
                            </td>
                            <td>{% if entity.enabled %}Enabled{% else %}Disabled{% endif %}</td>
                            <td class="text-right">{{ (entity.pricing[0].price/100)|localizedcurrency('RUB') }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('admin_products_show', { 'id': entity.id }) }}">show</a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('admin_products_edit', { 'id': entity.id }) }}">edit</a>
                                {% endif %}
                                <a class="btn btn-primary btn-sm" href="{{ path('admin_pricing', { 'product_id': entity.id }) }}">Pricing</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}