{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block adminPanelTitle %}Products{% endblock %}
{% block adminPanelTitleBadge %}{{ entities|length }}{% endblock %}
{% block adminPanelHeadingRight %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('admin_products_new')}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> </a>
    {% endif %}
{% endblock %}
{% block adminPanelBody %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped records_list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Required Documents</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td> 
                            {% for req in entity.requiredDocuments %}
                                {% filter upper %}{{ req }}{% endfilter %} ;
                            {% endfor %}
                        </td>
                        <td>{% if entity.enabled %}Enabled{% else %}Disabled{% endif %}</td>
                        <td class="text-right">{{ (entity.pricing|last)?(entity.pricing|last.price/100)|localizedcurrency('RUB') }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin_products_show', { 'id': entity.id }) }}">show</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="btn btn-primary btn-sm" href="{{ path('admin_products_edit', { 'id': entity.id }) }}">edit</a>
                            {% endif %}
                            <a class="btn btn-primary btn-sm" href="{{ path('admin_pricing', { 'product_id': entity.id }) }}">Pricing</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}