{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            {#            <h3 class="page-header">#}
            <h3 class="page-header">
                Products <small> {{ entities|length }} </small>
            </h3>
            <!-- breadcrumb -->
            {#<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>#}
        </div>
    </div>
    <!-- /.row -->
    <!-- page content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped records_list">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Required Documents</th>
                                    <th>Status</th>
                                    <th>Pricing</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.name }}</td>
                                        <td> 
                                            {% for req in entity.requiredDocuments %}
                                                {% filter upper %}{{ req }}{% endfilter %} ;
                                            {% endfor %}
                                        </td>
                                        <td>{% if entity.enabled %}Enabled{% else %}Disabled{% endif %}</td>
                                        <td>
                                            {% for pricing in entity.pricing %}
                                                {% if pricing.age=='all' %}All
                                                {% elseif pricing.age=='a' %}Adult
                                                {% elseif pricing.age=='i' %}Infant
                                                {% elseif pricing.age=='C' %}Child
                                                {% endif %}
                                                {#{{ pricing.age }}#}
                                                - {{ pricing.price|number_format(2, '.', ',') }} {{ pricing.priceCurrency }}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('admin_products_show', { 'id': entity.id }) }}">show</a>
                                            <a class="btn btn-primary" href="{{ path('admin_products_edit', { 'id': entity.id }) }}">edit</a>
                                            <a class="btn btn-primary" href="{{ path('admin_pricing', { 'product_id': entity.id }) }}">Pricing</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <a class="btn btn-primary" href="{{ path('admin_products_new') }}">Add Product</a>
{% endblock %}