{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block backLink %}{{ path('admin_products') }}{% endblock %}
{% block adminPanelFormStart %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
{% endblock %}
{% block adminPanelTitle %}New Product{% endblock %}
{% block adminPanelBody %}
    <div class="panel-body">
        {{ form_row(form.name) }}
        {{ form_row(form.requiredDocuments) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.vendor) }}
    </div>
{% endblock %}
{% block adminPanelFooter %}
    <div class="panel-footer">
        <div class="clearfix">
            {{ form_widget(form.submit) }}
        </div>
    </div>
{% endblock %}
{% block adminPanelFormEnd %}{{ form_end(form) }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-input').chosen({no_results_text: "Add new", allow_single_deselect: true});
        });
    </script>
{% endblock %}
