<style type="text/css">
    .form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{padding-top: 0px;}
</style>
<!-- Modal -->
<div id="approvalModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            {{ form_start(companions_form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approvals</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-condensed records_list" style="border-bottom: 1px solid #ddd;">
                    <tbody>
                        {% for companion in companions_form.orderCompanions %}
                            <tr>
                                <td>{{companion.vars.value.name }}</td>
                                <td>{{companion.vars.value.passportNumber}}</td>
                                <td>{{companion.vars.value.passportExpiry|date('d-m-Y')}}</td>
                                <td>{{companion.vars.value.nationality}}</td>
                                <td>
                                    {% for state in companion.state %}
                                        <div class="radio radio-inline">
                                            <label class="label label-{{ (state.vars.value == "approved") ? 'success' : (state.vars.value == "rejected") ? 'danger' : 'default'}}">
                                                <input type="radio" value="{{state.vars.value}}" name="{{state.vars.full_name}}" id="{{state.vars.id}}"/>
                                                {{ state.vars.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {#<div class="checkbox pull-right">
                <label class="label label-default">
                    <input type="checkbox" /> Send to {{order.customer.email}} 
                </label>
            </div>#}
            <div class="modal-body">
                <p>
                    Уважаемый {{order.customer.name}},<br/>
                    В приложении готовая виза в ОАЭ.
                    Вам необходимо ее распечатать и предъявить на стойке регистрации перед посадкой в самолет, а также на стойке паспортного контроля в ОАЭ.
                    Спасибо, что воспользовались услугами нашей компании 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ml-5" data-dismiss="modal">Close</button>
                {{ form_widget(companions_form.save) }}
            </div>
            {{ form_end(companions_form, {'render_rest': false}) }}
        </div>
    </div>
</div>