<div class="panel panel-default">
    <div class='panel-heading'>
        <span class="panel-title">Products</span>
        <a href="#" class="btn text-primary add_product_link btn-xs pull-right"><span class="glyphicon glyphicon-plus-sign" title="Add another product"></span> Add another product</a>
    </div>
    <table class="table table-hover table-condensed table-striped order-products-form">
        <thead>
            <tr>
                <th>{{ form_label(form.orderProducts.vars.prototype.product) }}</th>
                <th>{{ form_label(form.orderProducts.vars.prototype.quantity) }}</th>
                <th>{{ form_label(form.orderProducts.vars.prototype.unitPrice) }}</th>
                <th>{{ form_label(form.orderProducts.vars.prototype.total) }}</th>
            </tr>
        </thead>
        <tbody class="orderProducts" data-prototype="{{
'<td>' ~ form_widget(form.orderProducts.vars.prototype.product) ~ '</td>'
 ~ '<td>' ~ form_widget(form.orderProducts.vars.prototype.quantity) ~ '</td>'
 ~ '<td>' ~ form_widget(form.orderProducts.vars.prototype.unitPrice) ~ '</td>'
 ~ '<td>' ~ form_widget(form.orderProducts.vars.prototype.total) ~ '</td>'
               }}">
            {% for product in form.orderProducts %}
                <tr>
                    <td>{{form_widget(product.product)}}</td>
                    <td>{{form_widget(product.quantity)}}</td>
                    <td>{{form_widget(product.unitPrice)}}</td>
                    <td>{{form_widget(product.total)}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class='text-center'>
                    <a href="#" class="btn text-danger btn-xs remove_product_link" tabindex="-100"><span class="glyphicon glyphicon-trash" title="Remove last product"></span> Remove last product</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class='panel-footer'>
        <div class='row'>
            <div class='col-sm-4'>
                <label class="control-label">Subtotal</label>
                {{ form_widget(form.productsTotal) }}
            </div>
            <div class='col-sm-4'>
                <label for="mevisa_erpbundle_orders_adjustmentTotal" class="control-label required">Adjustment</label>
                {{ form_widget(form.adjustmentTotal) }}
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <label class="control-label">Order Total</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" name="order_total" ><span class="input-group-addon"> руб.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>