{% extends ':default:admin.html.twig' %}

{% block content %}
    {% include 'AdminAdminBundle:Default:quickActions.html.twig' %}
    <!-- page content -->
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="panel-title">Customers</span>
            <span class="badge">{{ entities|length }} </span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped records_list" id="customers-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                            {#<th></th>#}
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a class="" href="{{ path('customers_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.phone }}</td>
                            {# <td>
                                 <a class="btn btn-primary" href="{{ path('customers_show', { 'id': entity.id }) }}">show</a>
                                 {# TODO: Show for management #}
                            {#<a class="btn btn-primary" href="{{ path('customers_edit', { 'id': entity.id }) }}">edit</a>#}
                            {# </td>#}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
