{% extends 'AdminAdminBundle:Default:adminLayout.html.twig' %}
{% block backLink %}{{ path('customers') }}{% endblock %}
{% block adminPanelTitle %}Customer{% endblock %}
{% block adminPanelBody %}
    {# <div class="table-responsive">
         <table class="table table-bordered table-hover table-striped records_list firstCol25">
             <tbody>
                 <tr><th>Name</th><td>{{ customer.name }}</td></tr>
                 <tr><th>Email</th><td>{{ customer.email }}</td></tr>
                 <tr><th>Phone</th><td>{{ customer.phone }}</td></tr>
                 <tr><th>Agent</th><td>{{ (customer.agent)?'Yes':'No' }}</td></tr>
             </tbody>
         </table>
     </div>#}
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2"><label>Name</label></div><div class="col-sm-10">{{ customer.name }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label>Email</label></div><div class="col-sm-10">{{ customer.email }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label>Phone</label></div><div class="col-sm-10">{{ customer.phone }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2"><label>Agent</label></div><div class="col-sm-10">{{ (customer.agent)?'Yes':'No' }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default" id="customer-log">
                    <div class="panel-heading">
                        <span class="panel-title">Log</span>
                    </div>
                    <ul class="list-group" id="log">
                        {%for log in logs %}
                            {% if log.action == 'create' or log.username %}
                                <li class="list-group-item">
                                    <span class="badge">{{ log.username ? log.username : "mevisa.ru"}}</span>
                                    {{ log.action }} @ {{ log.loggedAt|localizeddate('short', 'short') }}  
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block adminPanelFooter %}
    <div class="panel-footer">
        <a class="btn btn-default" href="#">Orders</a>
        {% if(is_granted('ROLE_SUPER_ADMIN')) %}
            <a class="btn btn-primary pull-right" href="{{ path('customers_edit', { 'id': customer.id }) }}">Edit</a>
        {% endif %}
    </div>
</div>
{% endblock %}
