{% extends ':default:admin.html.twig' %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
{#            <h3 class="page-header">#}
            <h3 class="page-header">
                Customers <small> {{ entities|length }} </small>
            </h3>
            <!-- breadcrumb -->
            {#<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>#}
        </div>
    </div>
    <!-- /.row -->
    <!-- page content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped records_list">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Nationality</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        {# <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>#}
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.email }}</td>
                                        <td>{{ entity.phone }}</td>
                                        <td>{{ entity.nationality }}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('customer_show', { 'id': entity.id }) }}">show</a>
                                            <a class="btn btn-primary" href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <a class="btn btn-primary" href="{{ path('customer_new') }}">Create a new entry</a>
{% endblock %}
