{% extends ':default:admin.html.twig' %}

{% block content %}
    <h1>MeVisa Settings</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form, {'render_rest': false}) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('companysettings') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('.ckeditor');
    </script>
{% endblock %}