{% extends 'AppBundle:Admin:adminLayout.html.twig' %}
{% block backLink %}{{ path('users') }}{% endblock %}
{% block adminPanelFormStart %}
  {{ form_start(user_form) }}
  {{ form_errors(user_form) }}
  {{ form_row(user_form._token) }}
{% endblock %}
{% block adminPanelTitle %}User{% endblock %}
{% block adminPanelTitleSmall %}{{ user.username }}{% endblock %}
{% block adminPanelBody %}
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        {{ form_row(user_form.username) }}
        {{ form_row(user_form.email) }}
        {{ form_row(user_form.locale) }}
        {{ form_row(user_form.enabled) }}
      </div>
      <div class="col-sm-4">
        {{ form_row(user_form.roles) }}
      </div>
    </div>
  </div>
{% endblock %}
{% block adminPanelFooter %}
  <div class="panel-footer">
    {{ form_row(user_form.submit) }}
  </div>
{% endblock %}
{% block adminPanelFormEnd %}{{ form_end(user_form) }}{% endblock %}
