{% extends 'AppBundle:Admin:adminLayout.html.twig' %}
{% block adminPanelTitle %}Users{% endblock %}
{% block adminPanelTitleBadge %}{{ users|length }}{% endblock %}
{% block adminPanelHeadingRight %}<a href="{{ path('users_new')}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> </a>{% endblock %}
{% block adminPanelBody %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped records_list">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Enabled</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{% for role in user.roles %}<span class="label label-{{ statusCSS.css(role) }}">{{ role|replace({"_":" ", "ROLE":""}) }}</span>&nbsp;{% endfor %}</td>
            <td>{% if user.enabled %}Enabled{% else %}Disabled{% endif %}</td>
            <td>{{ user.lastlogin|localizeddate() }}</td>
            <td>
              <a class="btn btn-default btn-sm" href="{{ path('users_show', {"id": user.id} ) }}">Show</a>
              <a class="btn btn-default btn-sm" href="{{ path('users_edit', {"id": user.id} ) }}">Edit</a>
              <a class="btn btn-default btn-sm" href="{{ path('users_pwd', {"id": user.id} ) }}">Password</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
