<div class="panel panel-default" id="order-docs">
  <div class="panel-heading">
    <span class="panel-title">Documents</span>
  </div>
  <div class="panel-body">
    {%for document in documents%}
      <div class="thumbnail">
        {% if document.path ends with 'pdf' %}
          <a href="{{ document.path }}" target="_blank">
            <span class="glyphicon glyphicon-file"></span> <span>{{ document.name }}</span>
          </a>
        {% else %}
          <img class="docs-link" src="{{ document.thumbnail ? document.thumbnail : document.path }}" data-url="{{ document.path}}" alt="{{ document.name }}"/>
          <a href="{{ document.path}}" class="btn-sm" target="_blank">
            <span>{{ document.name }}</span> <span class="glyphicon glyphicon-new-window"></span>
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>