{% extends 'base.html.twig' %}

{% block content %}
  {% include 'AppBundle:Default:quickActions.html.twig' %}
  <!-- page content -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <span class="panel-title">Orders</span>
          <span class="badge">{{ results|length }} </span>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped records_list">
            <thead>
              <tr>
                <th>Order #</th>
                <th>State</th>
                <th>Customer</th>
                <th>Channel</th>
                <th>Subtotal</th>
                <th>Adjustment</th>
                <th>Total</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
                <tr>
                  <td><a class="btn btn-link" href="{{ path('orders_show', { 'id': result.id }) }}">{{ result.number }}</a></td>
                  <td>
                    <span class="label 
                          {% if result.state == "backoffice" %}label-info                                                      
                          {% elseif result.state == "post" %}label-primary
                          {% elseif result.state == "document" %}label-warning
                          {% else %}label-default
                          {% endif %}
                          ">
                      {{ result.state|upper }}
                    </span>
                  </td>
                  <td>{{ result.customer.name }}</td>
                  <td>{{ result.channel }}</td>
                  <td class="text-right">{{ (result.productsTotal/100)|localizedcurrency('RUB') }}</td>
                  <td class="text-right">{{ (result.adjustmentTotal/100)|localizedcurrency('RUB') }}</td>
                  <td class="text-right">{{ (result.total/100)|localizedcurrency('RUB') }}</td>
                  <td>{% if result.createdAt %}{{ result.createdAt|localizeddate }}{% endif %}</td>
                  <td><a class="btn btn-primary" href="{{ path('orders_show', { 'id': result.id }) }}">Open</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
{% endblock %}
