{# srv/MeVisa/ERPBundle/Resources/views/Vendors/index.html.twig #}
{% extends ':metronic:portlet.html.twig' %}

{% block title %}Vendors{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <link href="/metronic/assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
  <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}


{% block portletTitle %}Vendors {{ vendors|length }}{% endblock %}
{% block portletActions %}
  <div class="actions">
    <a href="{{ path('vendors_new')}}" class="btn blue"><span class="glyphicon glyphicon-plus"></span> Add</a>
  </div>
{% endblock %}

{% block portletBody %}
  <table data-toggle="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for vendor in vendors %}
        <tr>
          <td>{{ vendor.code }}</td>
          <td>{{ vendor.name }}</td>
          <td>
            <a class="btn btn-default" href="{{ path('vendors_edit', { 'id': vendor.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <script src="/metronic/assets/global/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="/metronic/assets/pages/scripts/table-bootstrap.min.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL SCRIPTS -->
  <script>
    {#    $().ready#}
    {#    $('[data-toggle="dropdown"]').dropdown();#}
  </script>
{% endblock %}