{% extends 'AppBundle:Admin:adminLayout.html.twig' %}
{% block backLink %}{{ path('vendors') }}{% endblock %}
{% block adminPanelFormStart %}
  {{ form_start(vendor_form) }}
  {{ form_errors(vendor_form) }}
  {{ form_row(vendor_form._token) }}
{% endblock %}
{% block adminPanelTitle %}Vendor{% endblock %}
{% block adminPanelBody %}
  <div class="panel-body">
    {{ form_row(vendor_form.name) }}
    {{ form_row(vendor_form.code) }}
  </div>
{% endblock %}
{% block adminPanelFooter %}
  <div class="panel-footer">
    {{ form_row(vendor_form.submit) }}
  </div>
{% endblock %}
{% block adminPanelFormEnd %}{{ form_end(vendor_form) }}{% endblock %}
